h1{
    text-align: center;
    padding-top: 60px;
    color: rgb(59, 59, 59);
    font-size: 40px;
    text-shadow: rgb(85, 112, 187) 0px 0px 1px;        
 }
 .weatherApp{
    display: flex;
    align-items: center;
    width: 687px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
 }
.container {
    justify-content: flex-start;
    overflow: hidden;
 }
.day-block {
     padding: 1em;
     background: rgb(85, 112, 187);
     border-radius: .5em;
     margin: 5px;
     transition: all 0.5s ease-in-out;
 }
.day-icon img {
     display: block;
     margin: 0 auto;
 }
 .button {
    width: 60px;
}
 .button:hover{
    background: #ffffff;
    opacity: 0.5;
}
#buttonRight {
    transform: scale(-1, 1);
}
.text-Property{
     color: rgb(255, 255, 255);
     text-align: center;
 }
.day-number{
     font-size: 15px;
 }
 .day-day{
     font-size: 22px;
 }
.day-day-temperature{
     font-size: 20px;
 }
 .day-night-temperature{
     font-size: 15px;
     color: rgb(204, 204, 204);
 }
.day-precipitation{
     font-size: 15px;
     color: rgb(204, 204, 204);
 }